$text-color: #212121;
$link-color: #006654;
$link-hover-color: #00483f;
$border-color: #BCBCBC;
$white: #ffffff;

$black: #000000;

// Device width
$phone-width: 320px;
$tablet-width: 768px;
$desctop-width: 1300px;

$padding-phone: 20px;

//Others
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;